name: Build Validation

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: macos-15

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'zulu'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3.2.1

      - name: Install Android SDK
        run: sdkmanager "platform-tools" "platforms;android-36"

      - name: Upgrade Yarn Lock files
        run: ./gradlew kotlinUpgradeYarnLock kotlinWasmUpgradeYarnLock --no-daemon

      - name: Build with Gradle
        run: ./gradlew build -x allTests --no-daemon
