name: Publish
on:
  release:
    types: [ published ]

jobs:
  publish:
    runs-on: macos-15
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Add execution right to gradlew
        run: chmod +x ./gradlew

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3.2.1

      - name: Install Android SDK
        run: sdkmanager "platform-tools" "platforms;android-36"

      - uses: maxim-lobanov/setup-xcode@v1.6.0
        with:
          xcode-version: '16.0.0'

      - name: Publish the library
        env:
          GPR_USERNAME: ${{ secrets.GPR_USERNAME }}
          GPR_TOKEN: ${{ secrets.GPR_TOKEN }}
        run: ./gradlew publishAllPublicationsToGitHubPackagesRepository --no-daemon --stacktrace --info --scan
